# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# OS files
.DS_Store